<!--users/templates/registration/password_reset_confirm.html-->

{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Забули пароль?</h1>
  <p>Введіть свою пошту, на неї буде відправлено листа з інструкцією</p>

  <form method="POST">
    {% csrf_token %}
    {% include 'loginCustom.html' with form=form %}

    <input class="btn btn-primary" style="margin-bottom:20px;" type="submit" value="Send me instructions!">
    <div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
  </form>