<!--users/templates/registration/password_reset_form.html-->

{% extends 'base.html' %}

{% block content %}
<h2></h2>

<form method="post">
    {% csrf_token %}
    {% include 'loginCustom.html' with form=form %}
    <input class="btn btn-primary" style="margin-bottom:20px;" type="submit" value="Reset" >
</form>

<a href="{% url 'dashboard' %}" class="btn btn-primary">Back to dashboard</a>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
{% endblock %}