<!--users/templates/users/register.html-->

{% extends 'base.html' %}

{% block content %}
<h2>Реєстраація</h2>

<form method="post">
    {% csrf_token %}
    {% include 'registerCustom.html' with form=form %}
    <input class="btn btn-primary" type="submit" value="Регистрація" style="margin-bottom: 20px;">
</form>

<a class="btn btn-primary" href="{% url 'login' %}">Вхід</a>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
<div class="height-100"></div>
{% endblock %}